{% extends "layout.html" %}
{% block content %}
<form class="form-horizontal container" role="form">
	<h1 class="col-lg-12 text-center">Create a Definition</h1>
	<div class="form-group">
		<label class="control-label col-lg-3" for="tb_definition">Definition</label>
		<div class="col-lg-7">
			<textarea class="form-control" rows="5" id="tb_definition" style="resize:none" placeholder="Enter definition here..."></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="tb_pos">Part of Speech</label>
		<div class="col-lg-7">
			<select class="form-control" id="tb_pos">
  				<option value="adjective">adjective</option>
  				<option value="adverb">adverb</option>
  				<option value="noun">noun</option>
  				<option value="verb">verb</option>
			</select>
		</div>
	</div>
	<div class="col-lg-10">
		<button class="btn btn-default pull-right" type="button" onclick="submit_definition();">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
		</button>
	</div>
</form>

<script>
function submit_definition() {
    var def_obj = new Object();
    def_obj.definition = document.getElementById("tb_definition").value;
    def_obj.part_of_speech = document.getElementById("tb_pos").selectedIndex;
    def_obj.user_id = 0; //TODO: use the real user_id once it becomes available

    $.ajax({
        type: "POST",
        url: "/submit/definition",
        data: JSON.stringify(def_obj),
        success: function(result){},
        contentType: "application/json"
    });
}
</script>
{% endblock %}