html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin top by header height */
  margin-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

/*Custom nav-bar style*/
/*http://work.smarchal.com/twbscolor/css/0f4d920b3d75eff0f2cacacd0*/
.navbar-default {
  background-color: #A23DEB;
  border-color: #0b3d75;
}
.navbar-default .navbar-brand {
  color: #eff0f2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cacacd;
}
.navbar-default .navbar-text {
  color: #eff0f2;
}
.navbar-default .navbar-nav > li > a {
  color: #eff0f2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #cacacd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #cacacd;
  background-color: #622591;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #cacacd;
  background-color: #622591;
}
.navbar-default .navbar-toggle {
  border-color: #622591;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0b3d75;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eff0f2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eff0f2;
}
.navbar-default .navbar-link {
  color: #eff0f2;
}
.navbar-default .navbar-link:hover {
  color: #cacacd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eff0f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cacacd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cacacd;
    background-color: #0b3d75;
  }
}

/*Custom fixed footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  text-align: center;
}